.buttonContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5.5rem, 1fr));
  gap: 18px 24px;
  margin-bottom: 32px;
  max-width: 450px;
}

.all {
  --color: hsl(210, 100%, 40%);
  --dimmed-color: hsl(210, 100%, 35%);
}

.low {
  --color: hsl(130, 100%, 40%);
  --dimmed-color: hsl(130, 100%, 35%);
}

.high {
  --color: hsl(0, 100%, 40%);
  --dimmed-color: hsl(0, 100%, 35%);
}

.middle {
  --color: hsl(46, 100%, 40%);
  --dimmed-color: hsl(46, 100%, 35%);
}

.button {
  padding: 0.5em 1.1em;
  background: transparent;
  color: var(--color);

  border: 2px solid var(--color);
  border-radius: 15px;

  font-weight: 600;
  font-size: 0.875rem;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.button:hover {
  background: var(--color);
  color: white;
}

.button:active {
  background: var(--dimmed-color);
  color: white;
}

.active {
  background: var(--color);
  color: white;
}

.affairs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15ch, 1fr));
  gap: 24px 16px;
  margin-bottom: 72px;
  max-width: 450px;
}
