.buttonContainer {
  --btn-min-width: 5.5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--btn-min-width), 1fr));
  gap: 18px 24px;
  margin-bottom: 32px;
  max-width: 450px;
}

.all {
  --color: var(--blue-400);
  --dimmed-color: var(--blue-500);
}

.low {
  --color: var(--green-400);
  --dimmed-color: var(--green-500);
}

.high {
  --color: var(--red-400);
  --dimmed-color: var(--red-500);
}

.middle {
  --color: var(--orange-400);
  --dimmed-color: var(--orange-500);
}

.button {
  padding: 0.5em 1.1em;
  background: transparent;
  color: var(--color);

  border: 2px solid var(--color);
  border-radius: 15px;

  font-weight: 600;
  font-size: 0.875rem;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.button:hover {
  background-color: var(--color);
  color: var(--bg-primary);
}

.button:active {
  background: var(--dimmed-color);
  color: var(--bg-primary);
}

.active {
  background: var(--color);
  color: var(--bg-primary);
}

.affairs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15ch, 1fr));
  gap: 24px 16px;
  margin-bottom: 72px;
  max-width: 450px;
}

@media (width <= 400px) {
  .buttonContainer {
    --btn-min-width: 6.5rem;
  }
}
