.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 32px;
}

.all {
  --color: #06c;
  --dimmed-color: rgb(1, 88, 175);
}

.low {
  --color: #0c2;
  --dimmed-color: rgb(1, 160, 28);
}

.high {
  --color: #c00;
  --dimmed-color: rgb(159, 2, 2);
}

.middle {
  --color: #cc9c00;
  --dimmed-color: #a78000;
}

.button {
  padding: 5px 15px;

  background: transparent;
  color: var(--color);

  border: 2px solid var(--color);
  border-radius: 15px;
  outline: none;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.button:hover {
  background: var(--color);
  color: white;
}

.button:active {
  background: var(--dimmed-color);
  color: white;
}

.active {
  background: var(--color);
  color: white;
}

.affairs {
  display: flex;
  gap: 24px 16px;
  flex-wrap: wrap;
  margin-bottom: 72px;
  max-width: 450px;
}
