.sidebar {
  inset: 0 auto 0 0;
  padding: 16px 24px;
  width: min(320px, 75%);
  background-color: var(--white);
  box-shadow: var(--box-shadow-4), var(--box-shadow-5);
  overflow: auto;
  scrollbar-width: thin;
  translate: -100%;
  transition: translate 300ms var(--ease-in-out);
  z-index: 1100;
}

[data-fixed-sidebar='true'] .sidebar {
  position: fixed;
}

.open {
  composes: sidebar;
  translate: 0;
  transition: translate 225ms var(--ease-out);
}

.background {
  min-height: 40px;
  inset: 0;
  z-index: 1100;
  background-color: hsla(0, 0%, 0%, 0.4);
  transition: opacity 225ms var(--ease-in-out);
}

[data-fixed-sidebar='true'] .background {
  position: fixed;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.link {
  font-size: 1.375rem;
  font-weight: 600;
  text-decoration: none;
}

.active {
  composes: link;
}

.link:visited {
  color: var(--blue-700);
}

.link.active {
  color: var(--blue-500);
  text-decoration: underline;
}

.link:hover {
  color: var(--blue-300);
}

.close {
  display: block;
  margin-left: auto;
  margin-bottom: 24px;
  width: 2em;
  height: 2em;
  background-color: transparent;
  cursor: pointer;
}

.close:hover {
  opacity: 0.7;
}

.close > img {
  width: 100%;
}

@media (width <= 990px) {
  .nav {
    gap: 1.2em;
  }
}
