.loader {
  width: 108px;
  aspect-ratio: 1;
  background-image: url('./common/loader.png');
  animation: loading 1s infinite linear;
}

@keyframes loading {
  from {
    rotate: 0;
  }

  to {
    rotate: 1turn;
  }
}
