.inputWrapper {
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  padding: 0.45em 1.5em;
  border: 2px solid;
  border-radius: var(--border-radius-sm);
  background-color: var(--bg-primary-light);
  outline: none;
}

.superInput {
  composes: input;
  border-color: var(--accent-dark);
}

.input:focus {
  border-color: var(--blue-400);
}

.errorInput {
  composes: input;
  border-color: var(--red-400);
}

.errorInput:focus {
  border-color: var(--red-400);
}

.error {
  margin-bottom: 0.35em;
  padding: 0 0.35em;
  font-size: 0.75rem;
  color: var(--red-400);
}
