.label {
  display: inline-flex;
  align-items: center;
  color: var(--blue-400);
}

.label > input {
  appearance: none;
  margin-right: 0.5em;
  width: 1.4em;
  height: 1.4em;
  background: var(--bg-primary) center / 75% no-repeat;
  border: 2px solid var(--blue-400, currentColor);
  border-radius: 3px;
  cursor: pointer;
}

[data-theme='light'] .label > input:checked {
  background-image: url('./checked-blue.svg');
}

[data-theme='dark'] .label > input:checked {
  background-image: url('./checked-light-blue.svg');
}

.label > input:focus {
  border-color: var(--blue-500);
}

.label > input:hover {
  background-color: var(--blue-100);
}

.label > input:active {
  background-color: var(--blue-200);
}

.label > input:disabled,
.label > input:disabled + :where(.spanClassName) {
  filter: grayscale(50%) opacity(0.65);
  cursor: unset;
}

.spanClassName {
  font-size: 1em;
  user-select: none;
  cursor: pointer;
}
