.hwContainer {
  composes: container from '../../common/Common.module.css';
  margin-bottom: 36px;
}

.contentWrapper {
  position: relative;
}

.paginationContainer {
  margin-bottom: 36px;
  width: fit-content;
}

.tableWrapper {
  width: min(100%, 600px);
  overflow: auto;
  scrollbar-width: thin;
}

.table {
  min-width: 100%;
}

.tableHead {
  text-align: left;
}

.tCell {
  white-space: nowrap;
  width: 50%;
}

.sort {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.sort svg {
  height: 1.2rem;
  width: 0.75em;
}
