.wrapper {
  composes: container from '../../../common/Common.module.css';
  position: relative;
  align-items: center;
  display: flex;
  /*noinspection CssOverwrittenProperties*/
  height: calc(100vh - var(--header-height));
  /* noinspection CssOverwrittenProperties*/
  height: calc(100dvh - var(--header-height));
  justify-content: center;
}

.error404 {
  position: relative;
  bottom: calc(var(--header-height) / 2);
  width: 450px;
  max-width: 85%;
}
