.options {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label {
  display: flex;
  gap: 0.625em;
  font-size: 1rem;
  cursor: pointer;
}

.radio {
  position: relative;
  width: 1.375em;
  height: 1.375em;
  appearance: none;
  cursor: inherit;
  border-radius: 50%;
  outline: 0 solid var(--blue-400);
  transition: outline-width 0.15s ease-out;
}

.radio:focus-visible {
  outline-width: 4px;
}

.radio::before {
  content: '';
  position: absolute;
  inset: 0;
  background: center / contain no-repeat;
}

[data-theme='light'] .radio::before {
  background-image: url('./radio-box-blank-black.svg');
}

[data-theme='dark'] .radio::before {
  background-image: url('./radio-box-blank-white.svg');
}

[data-theme='light'] .radio:checked::before {
  background-image: url('./radio-box-checked-black.svg');
}

[data-theme='dark'] .radio:checked::before {
  background-image: url('./radio-box-checked-white.svg');
}

.span {
}
