.App {
  --header-height: 3.8em;
  position: relative;
  padding-top: var(--header-height);
}

.hw {
  margin: 0 auto;
  padding: 0 70px;
  max-width: 1280px;
}

.hwTitle {
  margin: 2em auto 0.625em;
  padding: 0 70px;
  max-width: 1280px;
  font-size: 1.375em;
  font-weight: 600;
}

@media (width <= 990px) {
  .App {
    --header-height: 3em;
  }
  .hw {
    padding-inline: 20px;
  }

  .hwTitle {
    padding-inline: 20px;
    margin: 1.25em auto 0.625em;
  }
}
