.App {
  --header_height: 60px;
  padding-top: 94px;
}

.hw {
  margin: 0 auto;
  padding: 0 70px;
  max-width: 1280px;
}

.hwTitle {
  margin: 36px auto 10px;
  padding: 0 70px;
  max-width: 1280px;
  font-size: 22px;
  font-weight: 600;
}
