.greetingForm {
}

.inputAndButtonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: flex-start;
}

.inputWrapper {
  width: min(100%, 372px);
}

.error {
  color: var(--red-400);
}

.input {
  margin-bottom: 0.5em;
  padding: 0.45em 1.5em;
  width: 100%;
  border: 2px solid var(--grey-600);
  border-radius: var(--border-radius-sm);
  outline: none;
}

.input:focus {
  border-color: var(--blue-400);
}

.input.errorInput {
  border-color: var(--red-400);
}

.button {
  padding: 0.625em 1.5em;
  border-radius: var(--border-radius-sm);
  background-color: var(--blue-400);
  color: var(--white);
  cursor: pointer;
  transition: outline-width 0.15s ease-in-out;
  outline: 0 solid var(--grey-600);
  text-transform: capitalize;
}

.button:hover {
  background-color: var(--blue-500);
}

.button:focus-visible {
  outline-width: 6px;
}

.button:active {
  outline-width: 0;
  background-color: var(--blue-600);
}

.button:disabled {
  background-color: var(--blue-400);
  opacity: 0.5;
  cursor: initial;
}

.text {
  margin-bottom: 0.625em;
  font-size: 0.875rem;
  opacity: 0.5;
}

.greeting {
  font-size: 0.875rem;
  font-weight: 500;
}
