.sendForm {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 44px;
  margin-top: 27px;
}

.textarea {
  flex: 1 1 auto;
  padding: 0.65em 1.5em;
  background-color: var(--grey-350);
  border-radius: var(--border-radius-lg);
  line-height: 1.2;
  box-shadow: var(--box-shadow-1), var(--box-shadow-2);
  resize: none;
}

.textarea:focus {
  outline: 2px solid var(--blue-400);
}

.button {
  padding: 0.75em 2.35em;
  background-color: var(--blue-400);
  border-radius: var(--border-radius-lg);
  color: var(--white);
  cursor: pointer;
}

.button:hover {
  background-color: var(--blue-500);
}
.button:active {
  background-color: var(--blue-600);
}

@media (width <= 990px) {
  .sendForm {
    gap: 20px;
  }
}
