.wrapper {
  position: relative;
  display: inline-block;
  height: fit-content;
  font-size: 1rem;
}

.wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  aspect-ratio: 1;
  background: center / 90% no-repeat;
  pointer-events: none;
}

[data-theme='1'] .wrapper::after {
  background-image: url('./chevron-down-black.svg');
}

[data-theme='3'] .wrapper::after {
  background-image: url('./chevron-down-white.svg');
}

.select {
  appearance: none;
  position: relative;
  padding: 0.5em;
  padding-right: 2.4em;
  width: 100%;
  min-width: min-content;
  background-color: var(--bg-primary-light);
  border: 2px solid var(--accent-dark);
  border-radius: var(--border-radius-sm);
  color: currentColor;
  font-size: 1em;
  outline: none;
  cursor: pointer;
}

/*TODO: add disabled styles for select and ::after*/

[data-theme='3'] .select {
  border-color: var(--accent-dark);
}

.select:focus {
  border-color: var(--blue-400);
}

.option {
}

.select option:checked {
  background-color: var(--accent-dark);
}
