.wrapper {
  position: relative;
  display: inline-block;
  height: fit-content;
  font-size: 1rem;
}

.select {
  appearance: none;
  position: relative;
  padding: 0.5em;
  padding-right: 2.4em;
  width: 100%;
  min-width: min-content;
  background-color: var(--bg-primary-light);
  border: 2px solid var(--accent-dark);
  border-radius: var(--border-radius-sm);
  color: currentColor;
  font-size: 1em;
  outline: none;
  cursor: pointer;
}

[data-theme='dark'] .select {
  border-color: var(--accent-dark);
}

.select:focus {
  border-color: var(--blue-400);
}

.select.disabled {
  cursor: unset;
  opacity: 0.65;
}

.chevron {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  aspect-ratio: 1;
  background: center / 90% no-repeat;
  pointer-events: none;
}

[data-theme='light'] .chevron {
  background-image: url('./chevron-down-black.svg');
}

[data-theme='dark'] .chevron {
  background-image: url('./chevron-down-white.svg');
}

.disabled + .chevron {
  opacity: 0.5;
}

.option {
}

.select option:checked {
  background-color: var(--accent-dark);
}
