.affair {
  display: flex;
  width: 185px;
  height: 40px;

  border: 2px solid var(--color);
  border-radius: 5px;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 145px;
}

.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;

  background-color: transparent;
  border: none;
  border-left: 2px solid var(--color);

  font-weight: 900;
  cursor: pointer;

  transition: all 0.15s ease-in-out;
}

.closeButton:hover {
  background-color: var(--color);
  color: var(--white);
}

.closeButton:active {
  background-color: var(--dimmed-color);
  color: var(--white);
}
