.affair {
  display: flex;
  border: 2px solid var(--color);
  border-radius: 5px;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.65rem 1.5rem;
  flex-grow: 1;
}

.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;

  color: currentColor;
  background-color: transparent;
  border: none;
  border-left: 2px solid var(--color);

  font-weight: 900;
  cursor: pointer;

  transition: all 0.15s ease-in-out;
}

.closeButton:hover {
  background-color: var(--color);
  color: var(--bg-primary);
}

.closeButton:active {
  background-color: var(--dimmed-color);
  color: var(--bg-primary);
}
