/*noinspection CssInvalidAtRule*/
@import-normalize;

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-tap-highlight-color: transparent;
}

a,
a:hover,
a:active {
  color: inherit;
}

input,
textarea,
button {
  font: inherit;
  color: inherit;
  line-height: 1;
  border: none;
}

body {
  --scrollbar-width: 0px;
  line-height: 1.2;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  color: var(--accent-dark);
  margin-bottom: 32px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media (width <= 990px) {
  hr {
    margin-bottom: 20px;
  }
}

:root[data-theme='2'] {
  background-color: var(--light-blue-100);
}

:root[data-theme='3'] {
  --bg-primary: var(--dark-blue-400);
  --bg-primary-light: var(--dark-blue-300);

  --bg-secondary: var(--dark-blue-200);

  --accent-light: var(--dark-blue-200);

  --blue-100: hsla(210, 79%, 46%, 0.09);
  --blue-200: hsla(210, 79%, 46%, 0.17);
  --blue-400: hsl(207, 90%, 77%);
  --blue-500: hsl(207, 90%, 67%);
  --blue-600: hsl(207, 90%, 61%);

  --green-400: hsl(123, 38%, 57%);
  --green-500: hsl(123, 35%, 48%);
  --green-600: hsl(123, 36%, 44%);

  --orange-400: hsl(30, 85%, 54%);
  --orange-500: hsl(30, 85%, 49%);
  --orange-600: hsl(28, 94%, 45%);

  --red-400: hsl(4, 95%, 67%);
  --red-500: hsl(4, 66%, 60%);
  --red-600: hsl(4, 55%, 53%);

  color: hsl(0, 0%, 97%);
  background-color: var(--bg-primary);
}

/*  
  TODO: add animation when transitioning colors across themes,
  including props: color, background-color, border-color, outline-color etc
*/

:root {
  /* theme  */
  --bg-primary: white;
  --bg-primary-light: white;

  --bg-secondary: var(--grey-350);

  --accent: var(--grey-400);
  --accent-light: var(--grey-700);
  --accent-dark: var(--grey-600);

  color: black;
  background-color: var(--bg-primary);

  /* colors */
  --blue-100: hsla(210, 79%, 46%, 0.04);
  --blue-200: hsla(210, 79%, 46%, 0.09);
  --blue-300: hsl(210, 100%, 67%);
  --blue-400: hsl(210, 100%, 40%);
  --blue-500: hsl(210, 100%, 35%);
  --blue-600: hsl(210, 100%, 30%);
  --blue-700: hsl(210, 43%, 42%);

  --dark-blue-200: hsl(214, 16%, 40%);
  --dark-blue-300: hsl(210, 26%, 25%);
  --dark-blue-400: hsl(212, 22%, 17%);

  --green-400: hsl(130, 100%, 40%);
  --green-500: hsl(130, 100%, 35%);
  --green-600: hsl(130, 100%, 30%);

  --grey-200: hsl(0, 0%, 55%);
  --grey-350: hsl(228, 26%, 96%);
  --grey-400: hsl(0, 0%, 76%);
  --grey-600: hsl(0, 0%, 82%);
  --grey-700: hsl(0, 0%, 90%);

  --light-blue-100: hsl(210, 100%, 93%);
  --light-blue-400: hsl(210, 100%, 50%);

  --light-green: hsla(130, 100%, 40%, 16%);

  --orange-400: hsl(46, 100%, 40%);
  --orange-500: hsl(46, 100%, 35%);
  --orange-600: hsl(46, 100%, 30%);

  --red-400: hsl(0, 100%, 40%);
  --red-500: hsl(0, 100%, 35%);
  --red-600: hsl(0, 100%, 30%);

  /* border radii */
  --border-radius-sm: 5px;
  --border-radius-md: 10px;
  --border-radius-lg: 20px;

  /* shadows */
  --shadow-color-1: hsla(213, 13%, 13%, 0.05);
  --shadow-color-2: hsla(213, 13%, 13%, 0.1);
  --shadow-color-3: hsla(213, 13%, 13%, 0.15);
  --shadow-color-4: hsla(213, 13%, 13%, 0.25);
  --shadow-color-5: hsla(213, 13%, 13%, 0.5);

  --box-shadow-1: 0 1px 2px var(--shadow-color-4);
  --box-shadow-2: 0 5px 20px var(--shadow-color-1);
  --box-shadow-3: 0 1px 5px var(--shadow-color-5);
  --box-shadow-4: 0 0 2px var(--shadow-color-2);
  --box-shadow-5: 0 0 40px var(--shadow-color-3);

  --drop-shadow-1: 0 1px 2px var(--shadow-color-4);
  --drop-shadow-2: 0 5px 20px var(--shadow-color-1);

  /* transitions */
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
}
