*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

input,
textarea,
button {
  font: inherit;
  border: none;
}

html,
body,
pre {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.2;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  color: var(--grey-500);
  margin-bottom: 32px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --blue-400: rgb(0, 102, 204);
  --blue-500: rgb(0, 92, 182);
  --blue-600: rgb(0, 80, 161);
  --grey-400: rgb(245, 247, 251);
  --grey-450: rgb(243, 244, 248);
  --grey-500: rgb(217, 217, 217);
  --grey-600: rgb(209, 209, 209);
  --red-400: rgb(204, 0, 0);
  --border-radius-sm: 5px;
  --border-radius-md: 10px;
  --border-radius-lg: 20px;
  --box-shadow-1: 0 1px 2px rgba(29, 33, 38, 0.25);
  --box-shadow-2: 0 5px 20px rgba(29, 33, 38, 0.05);
  --box-shadow-3: 0 1px 5px rgba(29, 33, 38, 0.5);
  --drop-shadow-1: 0 1px 2px rgba(29, 33, 38, 0.25);
  --drop-shadow-2: 0 5px 20px rgba(29, 33, 38, 0.05);
}
