.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.625em 1.5em;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  text-transform: capitalize;
  outline: 0 solid var(--grey-600);
  transition: outline-width 0.15s ease-in-out;
  box-shadow: var(--box-shadow-1), var(--box-shadow-2);
}

.default {
  composes: button;
  --bg-color: var(--blue-400);
  color: var(--white);
  background-color: var(--bg-color);
}

.button:focus-visible {
  outline-width: 6px;
}

.default:hover {
  --adjust-bg-color: var(--blue-500);
  background-color: var(--adjust-bg-color);
}

.default:active {
  --adjust-bg-color: var(--blue-600);
  background-color: var(--adjust-bg-color);
}

.red {
  composes: button;
  --bg-color: var(--red-400);
  color: var(--white);
  background-color: var(--bg-color);
}

.red:hover {
  --adjust-bg-color: var(--red-500);
  background-color: var(--adjust-bg-color);
}

.red:active {
  --adjust-bg-color: var(--red-600);
  background-color: var(--adjust-bg-color);
}

.secondary {
  composes: button;
  --bg-color: transparent;
  --color: var(--blue-400);
  padding-block: 0.5em;
  border: 2px solid var(--color, currentColor);
  background-color: var(--bg-color);
  color: var(--color);
  box-shadow: none;
}

.secondary:hover {
  --adjust-bg-color: var(--blue-100);
  background-color: var(--adjust-bg-color);
}

.secondary:active {
  --adjust-bg-color: var(--blue-200);
  background-color: var(--adjust-bg-color);
}

.button.disabled {
  --adjust-bg-color: var(--bg-color);
  filter: grayscale(30%);
  opacity: 0.5;
  cursor: initial;
}
